
ph-ee-engine:
  # javaOpts:
  # minHeap: 192m
  # maxHeap: 256m
  # debugPort: 5005

  # global: 
  #   tenants: "greenbank,bluebank"
  #   DFSPIDS: "greenbank,bluebank" 

  elasticsearch:
    enabled: false

  kibana:
    enabled: false

  operations_web:
    image: docker.io/openmf/ph-ee-operations-web:dev1 



  # importer_rdbms:
    # env:
    #   - name: TENANTS_CONNECTIONS_GREENBANK_SCHEMA_SERVER
    #     value: "fredmysql"
    #   - name: TENANTS_CONNECTIONS_GORILLA_SCHEMA_SERVER
    #     value: "fred2mysql"

    # datasource:
    #   core:
    #     host: "mysql.infra.svc.cluster.local"
    #     port: 3306
    #     schema: "tenants"
    #     username: "mifos"
    #     password: "password"

  # operations_app:
  #   secret:
  #     apiversion: "v1"
  #     datasource:
  #       # username: "mifos"
  #       # password: "password"
  #       host: "mysql.infra.svc.cluster.local"
  #       # port: 3306
  #       # schema: "tenants"

  # operations:
  #   mysql:
  #     enabled: false

  camunda-platform:
    global:
      elasticsearch:
        # Elasticsearch.disableExporter if true, disables the elastic exporter in zeebe
        disableExporter: false
        host: "infra-elasticsearch.infra.svc.cluster.local"
        port: 9200
        clusterName: "fred"
      identity:
        auth:
          enabled: false

    zeebe:
      enabled: true
      # logLevel: debug
      # volumeClaimTemplate:
      #   storageClassName: "local-path"

      # # clusterSize: "1"
      # # partitionCount: "1"
      # # replicationFactor: "1"
      # # cpuThreadCount: "1"
      # ioThreadCount: "1"
      env:
        - name: ZEEBE_BROKER_BACKPRESSURE_ENABLED
          value: "false"
        - name: ZEEBE_BROKER_EXECUTION_METRICS_EXPORTER_ENABLED
          value: "true"
        # - name: ZEEBE_BROKER_EXPORTERS_ELASTICSEARCH_CLASSNAME
        #   value: "hu.dpc.rt.kafkastreamer.exporter.NoOpExporter"
        - name: ZEEBE_BROKER_EXPORTERS_ELASTICSEARCH_JARPATH
          value: "/exporters/ph-ee-kafka-exporter.jar"
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_JARPATH
          value: "/exporters/ph-ee-kafka-exporter.jar"
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_CLASSNAME
          value: "hu.dpc.rt.kafkastreamer.exporter.KafkaExporter"
        - name: ZEEBE_BROKER_BACKPRESSURE_VEGAS_INITIALLIMIT
          value: "1000"
        - name: ZEEBE_BROKER_BACKPRESSURE_VEGAS_ALPHA
          value: "2"
        - name: ZEEBE_BROKER_BACKPRESSURE_VEGAS_BETA
          value: "8"
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_EVENT
          value: 'true'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_VARIABLE
          value: 'true'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_PROCESSINSTANCE
          value: 'true'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_PROCESS
          value: 'true'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_INCIDENT
          value: 'true'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_DEPLOYMENT
          value: 'false'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_ERROR
          value: 'false'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_JOB
          value: 'false'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_VARIABLEDOCUMENT
          value: 'false'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_WORKFLOWINSTANCE
          value: 'false'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_CREATETEMPLATE
          value: 'false'
      resources:
        requests:
          cpu: 800m
          memory: 1200Mi
        limits:
          cpu: 960m
          memory: 1920Mi  
      affinity: {}  
      extraInitContainers:
        - name: init-ph-ee-kafka-exporter
          image: busybox:1.37.0
          imagePullPolicy: IfNotPresent
          command: ['/bin/sh', '-c']
          args: ['wget -O /exporters/ph-ee-kafka-exporter.jar "https://mifos.jfrog.io/artifactory/phee-gradle-local/org/mifos/phee/phee-exporter/exporter-1.1.1-SNAPSHOT.jar"; ls -al /exporters/']
          volumeMounts:
            - name: exporters
              mountPath: /exporters/

    zeebe-gateway:
      enabled: false
      replicas: 1
      logLevel: debug

      resources:
        requests:
          cpu: 400m
          memory: 450Mi
        limits:
          cpu: 400m
          memory: 450Mi  
      affinity: {}

      ingress:
        enabled: true
        host: "zeebe-gateway.mifos.gazelle.test"

    operate:
      enabled: true
      replicas: 1
      logging:
        level:
          ROOT: INFO
          io.camunda.operate: DEBUG

      resources:
        requests:
          cpu: 600m
          memory: 400Mi

          
      affinity: {}

      ingress:
        enabled: true
        host: "zeebe-operate.mifos.gazelle.test"

    tasklist:
      enabled: false

    optimize:
      enabled: false  

    identity:
      enabled: false

    connectors:
      enabled: false

    elasticsearch:
      enabled: false
  #### end of camunda-platform


  # PH-EE Connector Mojaloop
  # Note 'fred' and 'FRED' are development hooks as we continue to work on end to end integration flows.
  ph_ee_connector_mojaloop:
    enabled: true
    # the following 2 entries used only for dev/test of mojaloop connector 
    # image: mojaloop-connector:gazelle
    # imagePullPolicy: "Never"
    # image: mojaloop:gazelle1 
    ingress:
      enabled: true
      className: nginx
    switch:
      quotes:
        service: ""
      als:
        host: "http://fspiop-api-svc.vnext.svc.cluster.local:4000"
        #service: "vnextadmin.mifos.gazelle.test/_interop"
      transfers:
        host: "vnextadmin.mifos.gazelle.test/_interop"
        service: "vnextadmin.mifos.gazelle.test/_interop"
      transactions:
        host: "vnextadmin.mifos.gazelle.test/_interop"
        service: "vnextadmin.mifos.gazelle.test/_interop"
      oracle:
        host: "vnextadmin.mifos.gazelle.test/_interop"
    deployment:
      extraEnvs:
        - name: parties_0_domain
          value: "ph-ee-connector-mojaloop-java.paymenthub.svc.cluster.local"
        - name: parties_1_domain
          value: "http://fineract-server.mifosx.svc.cluster.local:8080"
        - name: parties_0_tenantId
          value: "greenbank"
        - name: parties_1_tenantId
          value: "bluebank"
        - name: parties_0_fspId
          value: "greenbank"
        - name: parties_1_fspId
          value: "bluebank"

  ph_ee_connector_ams_mifos:
    enabled: true
    SPRING_PROFILES_ACTIVE: "fin12,bb"
    #image: docker.io/openmf/ph-ee-connector-ams-mifos:v1.7.0
    image: docker.io/devarsh10/ph-ee-connector-ams-mifos:latest
    # ams_local_interop_host: http://fineract-server.mifosx.svc.cluster.local:8080
    # ams_local_account_host: http://fineract-server.mifosx.svc.cluster.local:8080
    # ams_local_customer_host: http://fineract-server.mifosx.svc.cluster.local:8080
    # ams_local_auth_host: http://fineract-server.mifosx.svc.cluster.local:8080

  post_installation_job:
    enabled: false

  integration_test:
    enableAMSTest: false
    enableGOVTest: false
    enableGazelleTest: true 
    imagePullPolicy: IfNotPresent
    image: docker.io/openmf/ph-ee-integration-test:v1.6.2-gazelle
    imagePullPolicy: IfNotPresent
    testTags: "@gov and not @ext"
    memoryRequest: "500k"
    testResultsOutputDir: "/tmp"

# deployment:
#   extraEnvs:
#     - name: TOM_OPTS_2
#       value: "this is FRED2 one of toms deployment options"

  operations_app:
    enabled: true
    #image: docker.io/openmf/ph-ee-operations-app:v1.20.0
    deployment:
      extraEnvs:
        - name: "TOMS_OPTS"
          value: "of-no-value"
        - name: "TOMS_OPTS-3"
          value: "of-no-value"
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms128m -Xmx256m -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:9876"

  connector_bulk:
    tenants: "greenbank,bluebank"
    operations_app:
      #contactpoint: "http://ph-ee-operations-app:5000"
      contactpoint: "http://ph-ee-operations-app:80"
      endpoints:
        batch_transaction: "/api/v1/batch/transactions"
    spec:
      template:
        containers:
          env:
            - name: "BP_JAVA_OPTS"
              value: ""
            - name: "BP_JAVA_OPTS-1"
              value: "fred5"
            - name: "BP_JAVA_OPTS-2"
              value: "fred6"  
            # - name: "TOMS_OPTS"
            #   value: "of-no-value"
    deployment:
      extraEnvs:
        - name: JAVA_TOOL_OPTIONS
          value: |
            -Xms128m
            -Xmx256m
            -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=localhost:5010
    # ingress:
    #   enabled: true
    #   className: nginx
    #   annotations:
    #     nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    #     kubernetes.io/ingress.class: nginx
    #     nginx.ingress.kubernetes.io/cors-allow-headers: "content-type,platform-tenantid,purpose,type,x-callback-url,x-correlationid,x-program-id,x-registering-institution-id,x-signature"
    #     nginx.ingress.kubernetes.io/cors-allow-methods: PUT, GET, POST, OPTIONS, DELETE
    #     nginx.ingress.kubernetes.io/cors-allow-origin: "https://ops.mifos.gazelle.test"
    #     #nginx.ingress.kubernetes.io/cors-allow-origin-regex: "https?://ops\.mifos.gazelle.test:4200"
    #     #nginx.ingress.kubernetes.io/cors-allow-origin-regex: 'https://ops.mifos.gazelle.test'
    #     nginx.ingress.kubernetes.io/enable-cors: 'true'
    #   tls:
    #     - secretName: sandbox-secret
    #   hosts:
    #     - host: bulk-connector.mifos.gazelle.test     
    #       paths: 
    #       - path: "/"
    #         backend:
    #           service:
    #             name: "ph-ee-connector-bulk"
    #             port:
    #               number: 8443

# tls:
# - hosts:
#   - channel.mifos.gazelle.test
#   - channel-gsma.mifos.gazelle.test
#   secretName: sandbox-secret

  channel:
    tenantPrimary:
      clientId: "mifos"
      clientSecret: "password"
      tenant: "greenbank"
    tenantSecondary:
      clientId: "mifos"
      clientSecret: "password"
      tenant: "bluebank"
    DESTINATION_DFSPID: "bluebank"
    SPRING_PROFILES_ACTIVE: "fin12,bb,tenants"
    deployment: 
      extraEnvs:
        - name: "SPRING_CONFIG_ADDITIONAL_LOCATION"
          value: "/config/"
    # application:
    #   config:
    #     server:
    #       ssl:
    #         enabled: false
    LOGGING_LEVEL_ROOT: "DEBUG"
    deployment:
      extraEnvs:
        - name: "SERVER_SSL_ENABLED"
          value: "false"
        - name: "SERVER_PORT"
          value: "8080"

    ingress:
      enabled: true
      className: nginx
      pathType: Prefix
      tls:
      - hosts:
        - channel.mifos.gazelle.test
        # - channel-gsma.mifos.gazelle.test
        secretName: sandbox-secret
      hosts:
        - host: channel.mifos.gazelle.test          
          paths: 
          - path: /
            backend:
              service:
                name: ph-ee-connector-channel
                port:
                  number: 82
        # - host: channel-gsma.mifos.gazelle.test          
        #   paths:          
        #   - path: /
        #     backend:
        #       service:
        #         name: ph-ee-connector-channel-gsma
        #         port:
        #           number: 82

  minio:
    ingress:
      hosts:
        - minio.mifos.gazelle.test

    
    consoleIngress:
      enabled: true 
      ingressClassName: nginx 
      labels: {}
      annotations: {}
      path: /
      hosts:
        - minio-console.mifos.gazelle.test


  ph-ee-connector:
    enabled: true

